header {
    background-color: navy;
    display: flex;
    align-items: flex-end;
    
}
.navEl {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
   
    width: 100%;

    padding: 0 0 0 60%;
}
.buttonstyle {
    font-family: 'Space Mono', monospace ;
    font-size: 30px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  
.quizardly {
    width:65px ;
    height: 65px; 
}

.navbutton {
    background: none;
    border: none;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 30px;
    display: flex;
    
    
}

button:hover{
	background: skyblue;
	color: black;
	border: 2px solid black;
}
 
 

 .q-logo {
    display: flex;
    justify-content: flex-start;
 }

